@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@800&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
}
.form {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.img-main {
    position: absolute;
    top: 41%;
    bottom: 59%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#searchbar
 {
    border-radius: 2rem;
}

#img:hover,
#adv:hover {
    color: #0a58ca;
    transition: 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#container {
    width:600px;
    margin-left: 4rem;
}

label {
    display: inline-block;
    width:200px;
    text-align: left;
}

.sqrborder, #searchbtn {
    border-radius: 0% !important;
    border:none;
    background-color: #f8f9fa;
}

#advsearchbtn {
    border-radius: 0% !important;
}

#advImg {
    width: 136px !important;
    height: 46px !important;
}